<div ng-controller="CreateVesselCtrl as cvc">
    <h1>Create Vessel</h1>

    <form id="CreateVesselForm" name="CreateVesselForm" class="form-horizontal" role="form"
          ng-submit="cvc.createVessel()">
        <legend class="sm-col-12">Basic Information</legend>

        <div class="form-group">
            <label id="lbl_name" for="name" class="col-sm-4 control-label">Name</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" name="name" id="name" placeholder=""
                       ng-model="cvc.vessel.name">
            </div>
        </div>

        <div class="form-group">
            <label id="lbl_width" for="width" class="col-sm-4 control-label">Width</label>

            <div class="col-sm-8">
                <input type="number" step="0.01" class="form-control" name="width" id="width" placeholder=""
                       ng-model="cvc.vessel.width">
            </div>
        </div>

        <div class="form-group">
            <label id="lbl_length" for="length" class="col-sm-4 control-label">Length</label>

            <div class="col-sm-8">
                <input type="number" step="0.01" class="form-control" name="length" id="length" placeholder=""
                       ng-model="cvc.vessel.length">
            </div>
        </div>

        <div class="form-group">
            <label id="lbl_draft" for="draft" class="col-sm-4 control-label">Draft</label>

            <div class="col-sm-8">
                <input type="number" step="0.01"class="form-control" name="draft" id="draft" placeholder=""
                       ng-model="cvc.vessel.draft">
            </div>
        </div>

        <div class="form-group">
            <label id="lbl_lon" for="longitude" class="col-sm-4 control-label">Longitude</label>

            <div class="col-sm-8">
                <input type="number" step="0.000001" class="form-control" name="lon" id="lon" placeholder=""
                ng-model="cvc.location.lon">
            </div>
        </div>

        <div class="form-group">
            <label id="lbl_lat" for="lat" class="col-sm-4 control-label">Latitude</label>

            <div class="col-sm-8">
                <input type="number" step="0.000001" class="form-control" name="lat" id="lat"
                ng-model="cvc.location.lat">
            </div>
        </div>

        <pre>{{ cvc.vessel | json }}</pre>

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8 text-right">
                <a ng-href="/#/" id="btn_cancel" class="btn btn-warning">Cancel</a>

                <button type="submit" class="btn btn-success" id="btn_create">Create Vessel</button>
            </div>
        </div>


    </form>
</div>

