<div ng-controller="DeleteVesselCtrl as dvc">
    <h1>Delete Vessel</h1>

    <form id="DeleteVesselForm" name="DeleteVesselForm" class="form-horizontal" role="form"
          ng-submit="dvc.deleteVessel()">
        <legend class="sm-col-12">Basic Information</legend>

        <div class="form-group">
            <label id="lbl_name" for="name" class="col-sm-4 control-label">Name</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" name="name" id="name" placeholder=""
                       ng-model="dvc.vessel.name" readonly="readonly">
            </div>
        </div>

        <div class="form-group">
            <label id="lbl_width" for="width" class="col-sm-4 control-label">Width</label>

            <div class="col-sm-8">
                <input type="number" step="0.01" class="form-control" name="width" id="width" placeholder=""
                       ng-model="dvc.vessel.width" readonly="readonly">
            </div>
        </div>

        <div class="form-group">
            <label id="lbl_length" for="length" class="col-sm-4 control-label">Length</label>

            <div class="col-sm-8">
                <input type="number" step="0.01" class="form-control" name="length" id="length" placeholder=""
                       ng-model="dvc.vessel.length" readonly="readonly">
            </div>
        </div>

        <div class="form-group">
            <label id="lbl_draft" for="draft" class="col-sm-4 control-label">Draft</label>

            <div class="col-sm-8">
                <input type="number" step="0.01"class="form-control" name="draft" id="draft" placeholder=""
                       ng-model="dvc.vessel.draft" readonly="readonly">
            </div>
        </div>

        <div class="form-group">
            <label id="lbl_lon" for="longitude" class="col-sm-4 control-label">Longitude</label>

            <div class="col-sm-8">
                <input type="number" step="0.000001" class="form-control" name="lon" id="lon" placeholder=""
                ng-model="dvc.location.lon" readonly="readonly">
            </div>
        </div>

        <div class="form-group">
            <label id="lbl_lat" for="lat" class="col-sm-4 control-label">Latitude</label>

            <div class="col-sm-8">
                <input type="number" step="0.000001" class="form-control" name="lat" id="lat"
                ng-model="dvc.location.lat" readonly="readonly">
            </div>
        </div>

        <pre>{{ dvc.vessel | json }}</pre>

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8 text-right">
                <a ng-href="/#/" id="btn_cancel" class="btn btn-warning">Cancel</a>

                <button type="submit" class="btn btn-success" id="btn_delete">Delete Vessel</button>
            </div>
        </div>


    </form>
</div>

