
<div ng-controller="VesselCtrl as vc">
    <div class="jumbotron">
        <h2>Vessel Management Tool</h2>
        <p class="pull-right">... a UI created using AngularJS and
            Bootstrap</p>
    </div>

    <div>
        <div class="form-group">
            <h3>
                Vessels
                <a ng-href="/#/vessels/create"
                   class="btn btn-primary pull-right"
                   id="btn_vessel_create">Add Vessel</a>
            </h3>
            <hr>
        </div>

        <div class="form-group">
            <h3>Vessel Filter Options</h3>
        </div>
        <div class="form-group">
            <input class="form-control" type="text" ng-model="search"
                placeholder="Type here to filter Vessels...">
            <hr>
        </div>
        <div class="form-group">
            <label id="lbl_name" for="name" class="col-sm-2 control-label">Filter by Name</label>
            <div class="col-sm-4">
                <input class="form-control" id="name" ng-model="search.name">
            </div>
        </div>
        <div class="form-group">
            <label id="lbl_width" for="width" class="col-sm-2 control-label">Filter by Width</label>
            <div class="col-sm-4">
                <input class="form-control" id="width" ng-model="search.width">
            </div>
        </div>
        <div class="form-group">
            <label id="lbl_length" for="length" class="col-sm-2 control-label">Filter by Length</label>
            <div class="col-sm-4">
                <input class="form-control" id="length" ng-model="search.length">
            </div>
        </div>
        <div class="form-group">
            <label id="lbl_draft" for="draft" class="col-sm-2 control-label">Filter by Draft</label>
            <div class="col-sm-4">
                <input class="form-control"id="draft" ng-model="search.draft">
            </div>
        </div>

        <table id="vessel_list" class="table table-striped">
            <thead>
                <tr>
                    <th>Index</th>
                    <th>Name</th>
                    <th>Width</th>
                    <th>Length</th>
                    <th>Draft</th>
                    <th>Longitude</th>
                    <th>Latitude</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="vessel in vc.vessels | filter:search:strict">
                    <td>{{ $index }}</td>
                    <td>{{ vessel.name }}</td>
                    <td>{{ vessel.width }}</td>
                    <td>{{ vessel.length }}</td>
                    <td>{{ vessel.draft }}</td>
                    <td>{{ vessel.loc.coordinates[0] }}</td>
                    <td>{{ vessel.loc.coordinates[1] }}</td>
                    <td>
                        <a ng-href="/#/vessels/edit/{{vessel.name}}"
                           class="btn btn-success pull-left" id="btn_vessel_update">
                           Edit Vessel
                        </a>
                        <a ng-href="/#/vessels/delete/{{vessel.name}}"
                           class="btn btn-success pull-right" id="btn_vessel_delete">
                           Delete Vessel
                        </a>
                    </td>
                </tr>
                <tr ng-hide="vc.vessels.length">
                    <td colspan="3">
                        <p class="text-center">No Vessels Found</p>
                    </td>
                </tr>
            </tbody>
        </table>

        <h3>Debug</h3>
        <hr>
        <accordion> <accordion-group is-open="status.open">
        <accordion-heading> Json Data <i
            class="pull-right glyphicon"
            ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </accordion-heading> <pre>{{ vc.vessels | json }}</pre> </accordion-group> </accordion>
    </div>

</div>
